<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Robusta"
            id="%RobustaMenuName%">
      </category>
     
      <view
            name="Exception Code Smell Report"
            icon="icons/reports.ico"
            category="%RobustaMenuName%"
            class="ntut.csie.csdet.report.ui.EHSmellReportViewer"
            id="ntut.csie.csdet.report.ui.EHSmellReportView">
      </view>
   </extension>
   
   <!-- Builder and Nautre-->
   <extension
         id="ntut.csie.rleht.builder.RLBuilder"
         name="RLMethodBuilder"
         point="org.eclipse.core.resources.builders">
  	  <builder hasNature="true">
         <run class="ntut.csie.rleht.builder.RLBuilder"/>
      </builder>
   </extension>
   <extension
         id="ntut.csie.rleht.builder.RLNature"
         name="RLNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="ntut.csie.rleht.builder.RLNature"/>
      </runtime>
      <builder id="ntut.csie.rleht.builder.RLBuilder"/>
   </extension>
 
   <!-- pop menu 右鍵加RL Builder and nature-->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="Robusta.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="open"
               value="true">
         </filter>
         <menu
               icon="icons/robusta_logo_square_R.jpg"
               id="Robusta.menu"
               label="Robusta"
               path="additions">
         	<separator name="group">
         	</separator>
         </menu>
         <action
               class="ntut.csie.robusta.agile.exception.EnableRLAnnotation"
               enablesFor="+"
               id="Robusta.addAgileExceptionToProjLib"
               label="Enable RL Annotation"
               menubarPath="Robusta.menu/group">
         </action>
         <action
               class="ntut.csie.rleht.builder.ToggleNatureAction"
               enablesFor="+"
               id="Robusta.removeRLNatureAction"
               label="Remove Marker"
               menubarPath="Robusta.menu/group">
         </action>
         <action
               class="ntut.csie.rleht.builder.ToggleNatureAction"
               enablesFor="+"
               id="Robusta.addRLNatureAction"
               label="Detect Smells"
               menubarPath="Robusta.menu/group">
         </action>
      </objectContribution>  

      <!-- Code Smell Refactor 選單 -->
      <objectContribution
           	objectClass="org.eclipse.ui.IFileEditorInput"
           	id="Robusta.contribution2">
         <menu
               id="Robusta.popmenu1"
               label="Robusta Smell Refactor"
               path="additions">
            <separator name="group1"/>
         </menu>  
         <action
               class="ntut.csie.csdet.refactor.NoAlternativeRetryAction"
			   enablesFor="1"
               id="Robusta.RetryAction"
               label="Retry with original values"             
               menubarPath="Robusta.popmenu1/group1"/>
         <action
               class="ntut.csie.csdet.refactor.RetryAction"
			   enablesFor="1"
               id="Robusta.RetryAction"
               label="Introduce resourceful try clause"
               menubarPath="Robusta.popmenu1/group1"/>

      </objectContribution>           
   </extension>
   
   <!-- extend problem view for RL annotation-->
   <extension
         id="ntut.csie.rleht.builder.RLProblem"
         name="RLProblem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
   </extension>

	<!-- extend problem view for bad smell marker-->
   	<extension
         id="ntut.csie.robusta.marker.BSProblem"
         name="BSProblem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
      
   <!-- marker的quick fix-->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="ntut.csie.rleht.builder.RLQuickFixer"
            markerType="ntut.csie.rleht.builder.RLProblem"/>
   </extension>
   
   <!-- Define Annotation for inappropriate statement coloring -->
	<extension 
		point="org.eclipse.ui.editors.markerAnnotationSpecification"
		id="ntut.csie.robusta.inappropriateAnnotation" 
		name="InappropriateAnnotation">
		<specification 
			annotationType="ntut.csie.robusta.inappropriateAnnotation"
			label="InappropriateAnnotation"
			icon=""
			overviewRulerPreferenceKey="clruler"
			overviewRulerPreferenceValue="true"
			colorPreferenceKey="clcolor"
			colorPreferenceValue="255,255,0"
			highlightPreferenceKey="inappropriateAnnotationHighlight"
			highlightPreferenceValue ="true"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
		</specification>
	</extension>
	
	<!-- Link inappropriateAnnotation to our bad smell marker -->
	<!-- name = the annotationType attribute of the annotation that will be linked-->
	<!-- markerType = the id attribute of the marker that will be linked -->
	<extension point="org.eclipse.ui.editors.annotationTypes">
    	<type 
        	name="ntut.csie.robusta.inappropriateAnnotation" 
        	markerType="ntut.csie.rleht.builder.RLProblem"
    		markerSeverity="0">
        </type>
	</extension>
	
   	<!-- property page-->
   	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ntut.csie.rleht.preferences.PreferencePage"
            id="ntut.csie.rleht.preferences.PreferencePage"
            name="Robusta Filter">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ntut.csie.rleht.preferences.PreferenceInitializer">
      </initializer>
   </extension>
         
   <!-- EH Smell detect property Settings-->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ntut.csie.csdet.views.CSPropertyPage"
            id="CodeSmellDetectingSettings"
            name="Robusta Detecting Settings">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   
   
   <!-- STAND ALONE (HEADLESS) extension will be injected here AUTOMATICALLY when build by ANT (xmltask) -->
</plugin>
