<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Robusta"
            id="%RobustaMenuName%">
      </category>
      <!-- RL Method view and RL Call Hierarchy view-->
      <!-- (2012 Nov Not Released)
      <view
            name="≡ RL Method ≡"
            icon="icons/showwarn_tsk.gif"
            category="%RobustaMenuName%"
            class="ntut.csie.rleht.views.RLMethodView"
            id="ntut.csie.rleht.views.RLView">
      </view>
      <view
            name="≡ RL Call Hierarchy ≡"
            icon="icons/showwarn_tsk.gif"
            category="%RobustaMenuName%"
            class="ntut.csie.rleht.caller.CallersView"
            id="ntut.csie.rleht.caller.CallersView"
            />
      <view
            name="≡ EH Smell View ≡"
            icon="icons/showwarn_tsk.gif"
            category="%RobustaMenuName%"
            class="ntut.csie.csdet.smell.ui.EHSmellView"
            id="ntut.csie.rleht.views.EHSmell">
      </view>
      -->
      <view
            name="Exception Code Smell Report"
            icon="icons/reports.ico"
            category="%RobustaMenuName%"
            class="ntut.csie.csdet.report.ui.EHSmellReportView"
            id="ntut.csie.csdet.report.ui.EHSmellReportView">
      </view>
   </extension>
   <!-- (2012 Nov Not Released)
   <extension
         id="ntut.csie.rleht.RLPerspective"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               closeable="true"
               id="rleht.views.RLView"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   -->
   <!-- Builder and Nautre-->
   <extension
         id="ntut.csie.rleht.builder.RLBuilder"
         name="RLMethodBuilder"
         point="org.eclipse.core.resources.builders">
  	  <builder hasNature="true">
         <run class="ntut.csie.rleht.builder.RLBuilder"/>
      </builder>
   </extension>   
   <extension
         id="ntut.csie.rleht.builder.RLNature"
         name="RLNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="ntut.csie.rleht.builder.RLNature"/>
      </runtime>
      <builder id="ntut.csie.rleht.builder.RLBuilder"/>
   </extension>
 
   <!-- pop menu 右鍵加RL Builder and nature-->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="Robusta.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="ntut.csie.rleht.builder.ToggleNatureAction"
               enablesFor="+"
               id="Robusta.addRemoveNatureAction"
               label="≡ Add/Remove Robusta Smells Detector ≡"
               menubarPath="additions"/>         
      </objectContribution>  
      
      <!--  右鍵尋找RL Call Hierarchy-->
      <!-- (2012 Nov Not Released)
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="ntut.csie.rleht.caller.popup.editor">
         <action
               label="≡ RL Call Hierarchy ≡"
               class="ntut.csie.rleht.caller.CallersEditorAction"
               menubarPath="additions"
               id="ntut.csie.rleht.caller.updatepopupaction">
         </action>
      </viewerContribution>

      <objectContribution
            objectClass="org.eclipse.jdt.core.IMethod"
            id="ntut.csie.rleht.caller.explorers">
         <action
               label="≡ RL Call Hierarchy ≡"
               class="ntut.csie.rleht.caller.CallersEditorAction"
               menubarPath="additions"
               enablesFor="1"
               id="ntut.csie.rleht.caller.explorer">
         </action>
      </objectContribution>
	  -->      
      <!-- Code Smell Refactor 選單 -->
      <objectContribution
           	objectClass="org.eclipse.ui.IFileEditorInput"
           	id="Robusta.contribution1">
         <menu
               id="Robusta.popmenu1"
               label="Robusta Smell Refactor"
               path="additions">
            <separator name="group1"/>
         </menu>  
         <action
               class="ntut.csie.csdet.refactor.NoAlternativeRetryAction"
			   enablesFor="1"
               id="Robusta.RetryAction"
               label="Retry with original values"             
               menubarPath="Robusta.popmenu1/group1"/>
         <action
               class="ntut.csie.csdet.refactor.RetryAction"
			   enablesFor="1"
               id="Robusta.RetryAction"
               label="Introduce resourceful try clause"
               menubarPath="Robusta.popmenu1/group1"/>

      </objectContribution>           
   </extension>
   
   <!-- extend problem view-->
   <extension
         id="ntut.csie.rleht.builder.RLProblem"
         name="RLProblem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   
   <!-- marker的quick fix-->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="ntut.csie.rleht.builder.RLQuickFixer"
            markerType="ntut.csie.rleht.builder.RLProblem"/>
   </extension>
   
   <!-- property page-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ntut.csie.rleht.preferences.PreferencePage"
            id="ntut.csie.rleht.preferences.PreferencePage"
            name="Robusta Filter">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ntut.csie.rleht.preferences.PreferenceInitializer">
      </initializer>
   </extension>
         
   <!-- EH Smell detect property Settings-->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ntut.csie.csdet.views.CSPropertyPage"
            id="CodeSmellDetectingSettings"
            name="Robusta Detecting Settings" >
      </page>
   </extension>

</plugin>
